@{
    ViewData["Title"] = "Home Page";
}
 <html>
     <head>
         <title> </title>
     </head>
     <body>
    <div class="text-center">
        <h1 class="display-4">HR Application</h1>
        <img src="/images/Screenshot (66).png" style="max-width:30%;" />
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

        <h3>to go to Employee<a asp-action="Employee" class=" btn btn-primary">click here</a></h3>
        <h3>view <a asp-action="AllEmployees" class="btn btn-primary">All Employee</a></h3>

    </div>
     </body>
 </html>


